<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4 
# *Python with MongoDB*

In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-win_amd64.whl (382 kB)
     ------------------------------------ 382.5/382.5 kB 952.1 kB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     -------------------------------------- 283.7/283.7 kB 2.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [1]:
from IPython.core.display import display, HTML
import pymongo
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.3.3

## Introduction to PyMongo

Start the mongod server (if it isn't lready running) by executing  
`mongod`  
at the command prompt.

In [2]:
client = pymongo.MongoClient("mongodb://Rojesh:Rojesh1995@ac-glfdxri-shard-00-00.u6drk9y.mongodb.net:27017,ac-glfdxri-shard-00-01.u6drk9y.mongodb.net:27017,ac-glfdxri-shard-00-02.u6drk9y.mongodb.net:27017/?ssl=true&replicaSet=atlas-h7oe4w-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [54]:
db = client.test
collection = db.people
collection.drop()

Create a new database:

In [3]:
iod_db = client["iod_database"]

In [4]:
iod_db

Database(MongoClient(host=['ac-glfdxri-shard-00-02.u6drk9y.mongodb.net:27017', 'ac-glfdxri-shard-00-00.u6drk9y.mongodb.net:27017', 'ac-glfdxri-shard-00-01.u6drk9y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-h7oe4w-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'iod_database')

In [5]:
lab=iod_db['labs']

In [7]:
lab.insert_one({'tutor':'Ricky'})

In [11]:
mydb=client['mydatabase']

In [8]:
from platform import python_version

print(python_version())

3.9.13

Confirm that the database exists ... 

- list all databases in your system:

In [12]:
print(client.list_database_names())

['iod_database', 'admin', 'local']

- check for the database by name:

In [13]:
db_list= print(client.list_database_names)
if'iod_database' in db_list:
    print('database exists in the system')

<bound method MongoClient.list_database_names of MongoClient(host=['ac-glfdxri-shard-00-02.u6drk9y.mongodb.net:27017', 'ac-glfdxri-shard-00-00.u6drk9y.mongodb.net:27017', 'ac-glfdxri-shard-00-01.u6drk9y.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-h7oe4w-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True)>

TypeError: argument of type 'NoneType' is not iterable

The new database was not found because mongodb is lazy: the db won't get created until data has been written to it!

Create a collection called "customers" (with object name `mycol`):

In [14]:
mycol=mydb['customers']

Create a document (i.e. a dictionary) with two name:value items 
("name" = "John", and "address" = "Highway 37") and insert 
it into the "customers" collection:

In [15]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

Now test for the existence of the database:

In [16]:
print(client.list_database_names())

['iod_database', 'mydatabase', 'admin', 'local']

List all collections in the database:

In [17]:
print(mydb.list_collection_names())

['customers']

In [18]:
print(iod_db.list_collection_names())

['labs']

Insert another record in the "customers" collection 
("name" = "Peter", "address" = "Lowstreet 27") 
and return the value of the _id field:

In [19]:
dict= { 'name':'Peter', 'address':'Lowsteer 27'}
x=mycol.insert_one(dict)
print(x.inserted_id)

63e1b4c885d7829b2824fb34

Given the list of dicts below, insert multiple documents into 
the collection using the insert_many() method:

In [21]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

In [24]:
x=mycol.insert_many(mylist)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': ObjectId('63e1b50085d7829b2824fb35')}, 'errmsg': "E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: ObjectId('63e1b50085d7829b2824fb35') }", 'op': {'name': 'Amy', 'address': 'Apple st 652', '_id': ObjectId('63e1b50085d7829b2824fb35')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

Print a list of the _id values of the inserted documents:

In [25]:
print(x.inserted_ids)

[ObjectId('63e1b50085d7829b2824fb35'), ObjectId('63e1b50085d7829b2824fb36'), ObjectId('63e1b50085d7829b2824fb37'), ObjectId('63e1b50085d7829b2824fb38'), ObjectId('63e1b50085d7829b2824fb39'), ObjectId('63e1b50085d7829b2824fb3a'), ObjectId('63e1b50085d7829b2824fb3b'), ObjectId('63e1b50085d7829b2824fb3c'), ObjectId('63e1b50085d7829b2824fb3d'), ObjectId('63e1b50085d7829b2824fb3e'), ObjectId('63e1b50085d7829b2824fb3f'), ObjectId('63e1b50085d7829b2824fb40')]

Execute the next cell to insert a list of dicts with specified `_id`s:

In [26]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

Now try inserting a new dict with an existing `_id`:

In [27]:
x = mycol.insert_one({ "_id": 14, "name": "Manuel", "address": "Barcelona"})

DuplicateKeyError: E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }, full error: {'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 14}, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 14 }'}

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

In [28]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('63e1b3d385d7829b2824fb33'), 'name': 'John', 'address': 'Highway 37'}

Do the same for the document containing "name" = "Hannah":

In [29]:
x = mycol.find_one({"name": "Hannah"})
print(x)

{'_id': ObjectId('63e1b50085d7829b2824fb36'), 'name': 'Hannah', 'address': 'Mountain 21'}

This returns (and prints) all documents in the collection:

In [30]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('63e1b3d385d7829b2824fb33'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63e1b4c885d7829b2824fb34'), 'name': 'Peter', 'address': 'Lowsteer 27'}
{'_id': ObjectId('63e1b50085d7829b2824fb35'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63e1b50085d7829b2824fb36'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63e1b50085d7829b2824fb37'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e1b50085d7829b2824fb38'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63e1b50085d7829b2824fb39'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63e1b50085d7829b2824fb3a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e1b50085d7829b2824fb3b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63e1b50085d7829b2824fb3c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e1b50085d7829b2824fb3d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63e1b50085d7829b2824fb3e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63e1b50085d7829b2824fb3f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63e1b50085d7829b2824fb40'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

This returns only the name and address fields:

In [31]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowsteer 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

Print only the `_id` and name fields:

In [32]:
for x in mycol.find({},{ "_id": 1, "name": 1 }):
  print(x)

{'_id': ObjectId('63e1b3d385d7829b2824fb33'), 'name': 'John'}
{'_id': ObjectId('63e1b4c885d7829b2824fb34'), 'name': 'Peter'}
{'_id': ObjectId('63e1b50085d7829b2824fb35'), 'name': 'Amy'}
{'_id': ObjectId('63e1b50085d7829b2824fb36'), 'name': 'Hannah'}
{'_id': ObjectId('63e1b50085d7829b2824fb37'), 'name': 'Michael'}
{'_id': ObjectId('63e1b50085d7829b2824fb38'), 'name': 'Sandy'}
{'_id': ObjectId('63e1b50085d7829b2824fb39'), 'name': 'Betty'}
{'_id': ObjectId('63e1b50085d7829b2824fb3a'), 'name': 'Richard'}
{'_id': ObjectId('63e1b50085d7829b2824fb3b'), 'name': 'Susan'}
{'_id': ObjectId('63e1b50085d7829b2824fb3c'), 'name': 'Vicky'}
{'_id': ObjectId('63e1b50085d7829b2824fb3d'), 'name': 'Ben'}
{'_id': ObjectId('63e1b50085d7829b2824fb3e'), 'name': 'William'}
{'_id': ObjectId('63e1b50085d7829b2824fb3f'), 'name': 'Chuck'}
{'_id': ObjectId('63e1b50085d7829b2824fb40'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [33]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
  print(x)

{'_id': ObjectId('63e1b50085d7829b2824fb37'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63e1b50085d7829b2824fb3a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63e1b50085d7829b2824fb3c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63e1b50085d7829b2824fb40'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "S":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^S" }.)

Sorting can be applied by invoking the Sort() method after the Find() method. Sort the collection by the name field:

Now sort in reverse order (HINT: The Sort() method takes an optional second parameter.)

A single record can be deleted by specifying some criterion:

In [ ]:
mycol.delete_one({ "address": "Mountain 21" })

Now delete all docs with the 2-digit `Id` values:

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

Change the first instance of "address" == "Valley 345" to "Canyon 123" using update_one().  
(HINT: The 1st paramater of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [ ]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import os
import pandas as pd
import numpy as np

This code creates a database named "test" and populates it from a JSON file using the mongoimport program (executed in the operating systems itself, rather than in Python):

In [ ]:
db = client.test
# Drop the collection in case it was previously created:
# collection = db.people
# collection.drop()

In [ ]:
os.chdir("dat")

In [ ]:
pwd()

In [ ]:
# if this does not return 0, execute mongoimport from a commmand window instead:
os.system('mongoimport -d test -c people dummyData.json')

In [ ]:
os.chdir("..")

In [ ]:
pwd()

In [ ]:
db = client.test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [ ]:
pipeline = [
        {"$group": {"_id":"$Country",
             "AvgAge":{"$avg":"$Age"},
             "Count":{"$sum":1},
        }},
        {"$sort":{"Count":-1,"AvgAge":1}}
]
aggResult = collection.aggregate(pipeline) # returns a cursor

df1 = pd.DataFrame(list(aggResult)) # use list to turn the cursor to an array of documents
df1 = df1.set_index("_id")
df1.head()

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [ ]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [ ]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)
    
world_map

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = { "name": "John", "address": "Highway 37" }
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



> 
>
>



---



---



> > > > > > > > >  2022 Institute of Data


---



---