In [7]:
import pandas  as pd
from   keras.models import Sequential
from   keras.layers import Dense

In [9]:
train_data = pd.read_csv('../DATA/titanic_train.csv')
test_data  = pd.read_csv('../DATA/titanic_test.csv')

In [10]:
features = ["Pclass", "Sex", "SibSp", "Parch"]

In [20]:
train_data[features]

     Pclass     Sex  SibSp  Parch
0         3    male      1      0
1         1  female      1      0
2         3  female      0      0
3         1  female      1      0
4         3    male      0      0
..      ...     ...    ...    ...
886       2    male      0      0
887       1  female      0      0
888       3  female      1      2
889       1    male      0      0
890       3    male      0      0

[891 rows x 4 columns]

In [21]:
X_train= pd.get_dummies(train_data[features])

In [22]:
X_train

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      1      0           0         1
1         1      1      0           1         0
2         3      0      0           1         0
3         1      1      0           1         0
4         3      0      0           0         1
..      ...    ...    ...         ...       ...
886       2      0      0           0         1
887       1      0      0           1         0
888       3      1      2           1         0
889       1      0      0           0         1
890       3      0      0           0         1

[891 rows x 5 columns]

In [23]:
y_train= train_data["Survived"]

In [24]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [25]:
final_X_test  = pd.get_dummies(test_data[features])

In [26]:
final_X_test

     Pclass  SibSp  Parch  Sex_female  Sex_male
0         3      0      0           0         1
1         3      1      0           1         0
2         2      0      0           0         1
3         3      0      0           0         1
4         3      1      1           1         0
..      ...    ...    ...         ...       ...
413       3      0      0           0         1
414       1      0      0           1         0
415       3      0      0           0         1
416       3      0      0           0         1
417       3      1      1           0         1

[418 rows x 5 columns]

In [28]:
input_dim= len(X_train.columns)
n_neurons= 50
epochs= 100

In [29]:
model = Sequential()

In [34]:
# input layer
model.add(Dense(n_neurons, input_dim=input_dim, activation='relu'))

In [33]:
# output layer, with one neuron
model.add(Dense(1, activation='sigmoid'))

In [35]:
# compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [36]:
model.fit(X_train, y_train, epochs=epochs, verbose=0)

In [37]:
predictions = model.predict(final_X_test)

14/14 [==============================] - 0s 2ms/step

In [43]:
predictions = (predictions > 0.5)*1
predictions

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 1, 0, ..., 1, 1, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [44]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions.flatten()})

ValueError: array length 20900 does not match index length 418