In [11]:
import pandas as pd
pd.options.display.max_rows = 9999

In [2]:
df= pd.read_csv('Data/housing-data.csv')

In [3]:
df.head()

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sqft    47 non-null     int64
 1   bdrms   47 non-null     int64
 2   age     47 non-null     int64
 3   price   47 non-null     int64
dtypes: int64(4)
memory usage: 1.6 KB

In [14]:
print(df.tail())

    sqft  bdrms  age   price
42  2567      4   57  314000
43  1200      3   76  299000
44   852      2   70  179900
45  1852      4   64  299900
46  1203      3   11  239500

In [6]:
df.shape

(47, 4)

In [9]:
print(df.to_string())

    sqft  bdrms  age   price
0   2104      3   70  399900
1   1600      3   28  329900
2   2400      3   44  369000
3   1416      2   49  232000
4   3000      4   75  539900
5   1985      4   61  299900
6   1534      3   12  314900
7   1427      3   57  198999
8   1380      3   14  212000
9   1494      3   15  242500
10  1940      4    7  239999
11  2000      3   27  347000
12  1890      3   45  329999
13  4478      5   49  699900
14  1268      3   58  259900
15  2300      4   77  449900
16  1320      2   62  299900
17  1236      3   78  199900
18  2609      4    5  499998
19  3031      4   21  599000
20  1767      3   44  252900
21  1888      2   79  255000
22  1604      3   13  242900
23  1962      4   53  259900
24  3890      3   36  573900
25  1100      3   60  249900
26  1458      3   29  464500
27  2526      3   13  469000
28  2200      3   28  475000
29  2637      3   25  299900
30  1839      2   40  349900
31  1000      1    5  169900
32  2040      4   75  314900
33  3137      3   67  579900
34  1811      4   24  285900
35  1437      3   50  249900
36  1239      3   22  229900
37  2132      4   28  345000
38  4215      4   66  549000
39  2162      4   43  287000
40  1664      2   40  368500
41  2238      3   37  329900
42  2567      4   57  314000
43  1200      3   76  299000
44   852      2   70  179900
45  1852      4   64  299900
46  1203      3   11  239500

In [10]:
new_df = df.dropna()
print(new_df.to_string())

    sqft  bdrms  age   price
0   2104      3   70  399900
1   1600      3   28  329900
2   2400      3   44  369000
3   1416      2   49  232000
4   3000      4   75  539900
5   1985      4   61  299900
6   1534      3   12  314900
7   1427      3   57  198999
8   1380      3   14  212000
9   1494      3   15  242500
10  1940      4    7  239999
11  2000      3   27  347000
12  1890      3   45  329999
13  4478      5   49  699900
14  1268      3   58  259900
15  2300      4   77  449900
16  1320      2   62  299900
17  1236      3   78  199900
18  2609      4    5  499998
19  3031      4   21  599000
20  1767      3   44  252900
21  1888      2   79  255000
22  1604      3   13  242900
23  1962      4   53  259900
24  3890      3   36  573900
25  1100      3   60  249900
26  1458      3   29  464500
27  2526      3   13  469000
28  2200      3   28  475000
29  2637      3   25  299900
30  1839      2   40  349900
31  1000      1    5  169900
32  2040      4   75  314900
33  3137      3   67  579900
34  1811      4   24  285900
35  1437      3   50  249900
36  1239      3   22  229900
37  2132      4   28  345000
38  4215      4   66  549000
39  2162      4   43  287000
40  1664      2   40  368500
41  2238      3   37  329900
42  2567      4   57  314000
43  1200      3   76  299000
44   852      2   70  179900
45  1852      4   64  299900
46  1203      3   11  239500